
    <ul class="sidebar-menu" data-widget="tree">
        <li class="header">HEADER</li>

        <li>
            <a href="http://localhost:58489/Home/Index">
                <i class="fa fa-user"></i> <span>Dashboard</span>                
            </a>
        </li>
    </ul>