<ul class="sidebar-menu" data-widget="tree">
   
    
    <li class="treeview">
        <a href="#">
            <i class="fa fa-user"></i> <span>Patient</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/Patient/AddPatient">Add Patient</a></li>
            <li><a href="/Patient/GetPatientData">View Patient Record</a></li>
        </ul>
    </li>
</ul>
