@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="col-md-1">
    <h1>In Master Page</h1>
    </div>
    <div class="col-lg-3">
        @RenderBody()
    </div>

</body>
</html>
