
@{
    ViewBag.Title = "Index";
}

<h2>Shopping Cart</h2>


<div>
    @Html.ActionLink("Customer Login","LoginCustomer","Customer")
</div>
<div>
    @Html.ActionLink("Customer Registration","RegisterCustomer","Customer")
</div>
<div>
    @Html.ActionLink("Admin Login","Adminlogin")
</div>

